/* Starlit Abyss */

/* @settings

name: Starlit Abyss
id: starlit-settings
collapsed: false
settings:
    -
        id: col-accent-value
        title: Theme color
        description: Select your desired color for the theme.
        type: variable-select
        default: Terminal Green
        options:
            - 
                label: Terminal Green
                value: 120
            - 
                label: CyberPink
                value: 320
            - 
                label: Dead Red
                value: 5
            - 
                label: Ominous Orange
                value: 25
            - 
                label: Ypsilon Yellow
                value: 60
            - 
                label: Moonbase Blue
                value: 200
    -
        id: oled-background
        title: Pure black background
        description: Use a pure black background.
        type: class-toggle
    -
        id: bright-table-text
        title: Brighter table text
        description: Use a brighter color for text inside tables.
        type: class-toggle
    - 
        id: fnt-title
        title: Title font
        description: Select a font to be used for note titles.
        type: variable-select
        default: Michroma
        options:
            - Michroma
            - Bruno Ace
            - 
                label: Match main font
                value: var(--fnt-head-p)
    - 
        id: fnt-head-p
        title: Main font
        description: Select a suitably sci-fi font for most text. Alternatives for the most famous have been provided- Eurostile Extended (Michroma), OCR-A (Kode Mono), and Bank Gothic (Science Gothic).
        type: variable-select
        default: Tomorrow
        options:
            - Tomorrow
            - Science Gothic
            - Michroma
            - Kode Mono
            - Segoe UI
    -
        id: custom-mono-font
        title: Custom monospace font
        description: Use the theme's monospaced font instead of the option set in Appearance.
        default: true
        type: class-toggle 
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Michroma&family=Kode+Mono:wght@400..700&family=Science+Gothic:wght@100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*@font-face {
    font-family: "Science Gothic Bold Extended";
    src: url('https://fonts.googleapis.com/css2?family=Science+Gothic:wdth,wght@125,700&display=swap');
}*/

:root {
    /* Custom Colour Override DECLARATIONS */
    --col-accent-value: 120;
    --col-base-background: #0B1510;
    --col-base: #318C54;
    --col-accent: #3FFF8C;
    --col-accent-plus: #99E5B5;
    --col-muted: #163F26;
    --col-muted-plus: #020704;
    --col-text-selection: #437254;
    --col-important: #FFD303;
    --col-important-muted: #3F3401;
    --col-important-plus: #FFF2BF;
    --col-safety: #122127;
    --col-danger: #230D0D;
    --col-txt-titlebars: black;
    
    /* Font Sizing and Styling DECLARATIONS */
    --siz-txt-title: 2em;
    --siz-txt-h1: 1.75em;
    --siz-txt-h2: 1.6em;
    --siz-txt-h3: 1.45em;
    --siz-txt-h4: 1.3em;
    --siz-txt-h5: 1.15em;
    --siz-txt-h6: 1em;
    --siz-txt-p: 1rem; /* NTS: "rem" is :root's font-size, "em" is body's */
    --letterspacing-txt-headers: 1.5px;
    --letterspacing-txt-p: 0.5px;
    --oz-fta-folder-font-size: 1em;
    --oz-fta-file-font-size: 1em;
    --folders-font-size: 1em;
    --files-font-size: 1em;
    --fnt-title: "Michroma";
    --fnt-head-p: "Tomorrow";
    --text-selection: var(--col-base);
}

.custom-mono-font {
    --font-monospace: "Kode Mono", var(--font-monospace-default);
}

/* Choose colors for light theme */
.theme-light {
    /* Custom Workspace Color Overrides */
    --col-base-background: #D7DDD9; /*  */
    --col-base: #64A055; 
    --col-accent: #437A41; 
    --col-accent-plus: #20542C; 
    --col-muted: #86C66C;  
    --col-muted-plus: #C9D3CB;  
    --col-important: #0457E5; 
    --col-important-muted: #3F8CFF; 
    --col-important-plus: #011F64; 
    --col-safety: #ACD580; 
    --col-danger: #86C66C; 
    
    /* Custom Panels, and menus Color Overrides */
    --col-bckg-mainpanels: var(--col-muted-plus);
    --col-bckg-filetreeheader: var(--col-base-background);
    --col-txt-titlebars: #E5EAE7;
    --col-icons: var(--col-accent-plus);
    --col-txt-selectedtitles: var(--col-accent-plus);
    --col-bckg-selectedtitles: var(--col-muted);
    --col-txt-titles: var(--col-accent); 
    --col-menucheckbox: var(--col-accent);
    --col-txt-menudropdowns: var(--col-accent);
    --col-bckg-menudropdowns: var(--col-muted);
    --col-txt-menudropdownhover: var(--col-accent);
    --col-bckg-menudropdownhover: var(--col-muted);
    
    /* Default Colours for Obsidian Panels */
    --background-primary: var(--col-base-background);
    --background-primary-alt: black;
    --background-secondary: var(--col-base-background);
    --background-secondary-alt: var(--col-base-background);
    --background-modifier-hover: var(--col-muted);
    --background-modifier-active-hover: var(--col-muted);
    --background-modifier-border: var(--col-muted-plus);
    --background-modifier-border-hover: var(--col-accent);
    --background-modifier-border-focus: var(--col-accent-plus);
    --background-modifier-error-rgb: var(--col-accent);
    --background-modifier-error: var(--col-muted-plus);
    --background-modifier-error-hover: var(--col-accent);
    --background-modifier-success-rgb: var(--col-accent-plus);
    --background-modifier-success: var(--col-muted-plus);
    --background-modifier-message: var(--col-base);
    --background-modifier-form-field: var(--col-muted-plus);
    --text-normal: var(--col-accent-plus);
    --text-muted: var(--col-accent-plus);
    --text-faint: var(--col-accent-plus);
    --text-on-accent: var(--col-muted-plus);
    --text-error: var(--col-important);
    --text-success: var(--col-accent);
    --text-selection: var(--col-text-selection);
    --text-accent: var(--col-accent-plus);
    --text-accent-hover: var(--col-important-plus);
    --interactive-normal: var(--col-base);
    --interactive-hover: var(--col-muted);
    --interactive-accent-hsl: var(--col-accent);
    --interactive-accent: var(--col-accent);
    --interactive-accent-hover: var(--col-accent-plus);
}

/* Choose colors for dark theme */
.theme-dark {
    /* Custom Workspace Color Overrides */
    /*--col-base-background: #0B1510;
    --col-base: #40B266;
    --col-accent: #3FFF8C;
    --col-accent-plus: #99E5B5;
    --col-muted: #163F26;
    --col-muted-plus: #020704;*/
    --col-base-background: HSL(var(--col-accent-value), 31%, 6%);
    --col-base: HSL(var(--col-accent-value), 47%, 47%);
    --col-accent: HSL(var(--col-accent-value), 100%, 62%);
    --col-accent-plus: HSL(var(--col-accent-value), 59%, 75%);
    --col-muted: HSL(var(--col-accent-value), 48%, 17%);
    --col-muted-plus: HSL(var(--col-accent-value), 56%, 2%);
    --col-important: #FFD303;
    --col-important-muted: #3F3401;
    --col-important-plus: #FFF2BF;
    --col-safety: var(--col-muted);
    --col-danger: var(--col-muted-plus);

    /* Custom Panels, and menus Color Overrides */
    --col-bckg-mainpanels: var(--col-muted-plus);
    --col-bckg-filetreeheader: var(--col-base-background);
    --col-txt-titlebars: #070707;
    --col-icons: var(--col-accent-plus);
    --col-txt-selectedtitles: var(--col-accent-plus);
    --col-bckg-selectedtitles: var(--col-muted);
    --col-txt-titles: var(--col-accent); 
    --col-menucheckbox: var(--col-accent);
    --col-txt-menudropdowns: var(--col-accent);
    --col-bckg-menudropdowns: var(--col-muted);
    --col-txt-menudropdownhover: var(--col-accent);
    --col-bckg-menudropdownhover: var(--col-muted);
    
    /* Default Colours for Obsidian Panels */
    --background-primary: var(--col-base-background);
    --background-primary-alt: black;
    --background-secondary: var(--col-base-background);
    --background-secondary-alt: var(--col-base-background);
    --background-modifier-hover: var(--col-muted);
    --background-modifier-active-hover: var(--col-muted);
    --background-modifier-border: var(--col-muted-plus);
    --background-modifier-border-hover: var(--col-accent);
    --background-modifier-border-focus: var(--col-accent-plus);
    --background-modifier-error-rgb: var(--col-accent);
    --background-modifier-error: var(--col-muted-plus);
    --background-modifier-error-hover: var(--col-accent);
    --background-modifier-success-rgb: var(--col-accent-plus);
    --background-modifier-success: var(--col-muted-plus);
    --background-modifier-message: var(--col-base);
    --background-modifier-form-field: var(--col-muted-plus);
    --text-normal: var(--col-accent-plus);
    --text-muted: var(--col-accent-plus);
    --text-faint: var(--col-accent-plus);
    --text-on-accent: var(--col-muted-plus);
    --text-error: var(--col-important);
    --text-success: var(--col-accent);
    --text-selection: var(--col-text-selection);
    --text-accent: var(--col-accent-plus);
    --text-accent-hover: var(--col-important-plus);
    --interactive-normal: var(--col-base);
    --interactive-hover: var(--col-muted);
    --interactive-accent-hsl: var(--col-accent);
    --interactive-accent: var(--col-accent);
    --interactive-accent-hover: var(--col-accent-plus); 
    
}

.oled-background {
    --col-base-background: black;
}

/* -------- GLOBAL -------- */
body {
    --font-interface: var(--fnt-head-p);
    
    /* -------- WORKSPACE VARIABLES -------- */
    /* Edit mode variables */
    --col-ed-background: var(--col-base-background);
    --col-ed-caret: var(--col-accent-plus);
    --fnt-ed-title: var(--fnt-title);
    --fnt-ed-headers: var(--fnt-head-p);
    --line-height-ed-text: auto;
    --line-height-ed-headers: auto;
    --pad-ed-headers: 5px;
    --letterspacing-ed-headers: var(--letterspacing-txt-headers);
    --col-ed-txt-title: var(--col-accent-plus);
    --siz-ed-txt-title: var(--siz-txt-title);
    --col-ed-txt-h1: var(--col-accent);
    --siz-ed-txt-h1: var(--siz-txt-h1);
    --col-ed-txt-h2: var(--col-accent);
    --siz-ed-txt-h2: var(--siz-txt-h2);
    --col-ed-txt-h3: var(--col-accent);
    --siz-ed-txt-h3: var(--siz-txt-h3);
    --col-ed-txt-h4: var(--col-accent);
    --siz-ed-txt-h4: var(--siz-txt-h4);
    --col-ed-txt-h5: var(--col-accent);
    --siz-ed-txt-h5: var(--siz-txt-h5);
    --col-ed-txt-h6: var(--col-accent);
    --siz-ed-txt-h6: var(--siz-txt-h6);
    --fnt-ed-text: var(--fnt-head-p);
    --letterspacing-ed-text: var(--letterspacing-txt-p);
    --col-ed-txt-strong: var(--col-accent);
    --siz-ed-txt-strong: var(--siz-txt-p);
    --col-ed-txt-italic: var(--col-accent);
    --siz-ed-txt-italic: var(--siz-txt-p);
    --col-ed-txt-strikethrough: var(--col-muted);
    --col-ed-txt-highlight: var(--col-muted-plus);
    --siz-ed-txt-highlight: var(--siz-txt-p);
    --col-ed-bckg-highlight: var(--col-base);
    --col-ed-txt-quote: var(--col-accent-plus);
    --siz-ed-txt-quote: var(--siz-txt-p);
    --col-ed-bckg-quote: var(--col-base-background);
    --col-ed-bckg-quote-callout: var(--col-safety);
    --col-ed-bckg-quote-warning: var(--col-danger);
    --col-ed-txt-codeblock: var(--col-accent);
    --siz-ed-txt-codeblock: var(--siz-txt-p);
    --col-ed-bckg-codeblock: var(--col-muted);
    --col-ed-hyperlink: var(--col-important);
    --col-ed-hyperlink-highlight-hover: var(--col-muted-plus);
    --col-ed-hyperlink-strikethrough: var(--col-important-muted);
    --col-ed-hyperlink-hover: var(--col-important-plus);
    --col-ed-hyperlink-broken: red; /* Seems to not be possible to set this*/  
    --col-ed-bckg-hyperlink-broken: var(--col-danger);
    --col-ed-txt-p: var(--col-base);
    --siz-ed-txt-p: var(--siz-txt-p);
    --col-ed-bckg-checkbox-empty: var(--col-muted);
    --col-ed-bckg-checkbox-full: var(--col-accent-plus);
    --col-ed-txt-checkbox-full: var(--col-muted);
    --col-ed-hr: var(--col-base);
    --col-ed-txt-tableh: var(--col-accent-plus);
    --col-ed-txt-table: var(--col-base);
    --siz-ed-txt-table: var(--siz-txt-p);
    --col-ed-bckg-tableh: var(--col-muted);
    --col-ed-bckg-table: var(--col-base-background);
    --col-ed-txt-ul-bullet: var(--col-accent-plus);
    --col-ed-txt-ol-bullet: var(--col-accent-plus);
    --col-ed-txt-tagbeg: var(--col-important);
    --col-ed-bckg-tagbeg: var(--col-muted);
    --col-ed-txt-tagend: var(--col-important);
    --col-ed-bckg-tagend: var(--col-muted);
    
    /* Preview mode variables */
    --col-pr-background: var(--col-base-background);
    --fnt-pr-title: var(--fnt-title);
    --fnt-pr-headers: var(--fnt-head-p);
    --line-height-pr-text: auto;
    --line-height-pr-headers: auto;
    --letterspacing-pr-headers: var(--letterspacing-txt-headers);
    --col-pr-txt-title: var(--col-accent-plus);
    --siz-pr-txt-title: var(--siz-txt-title);
    --col-pr-txt-h1: var(--col-accent);
    --siz-pr-txt-h1: var(--siz-txt-h1);
    --col-pr-txt-h2: var(--col-accent);
    --siz-pr-txt-h2: var(--siz-txt-h2);
    --col-pr-txt-h3: var(--col-accent);
    --siz-pr-txt-h3: var(--siz-txt-h3);
    --col-pr-txt-h4: var(--col-accent);
    --siz-pr-txt-h4: var(--siz-txt-h4);
    --col-pr-txt-h5: var(--col-accent);
    --siz-pr-txt-h5: var(--siz-txt-h5);
    --col-pr-txt-h6: var(--col-accent);
    --siz-pr-txt-h6: var(--siz-txt-h6);
    --fnt-pr-text: var(--fnt-head-p);
    --letterspacing-pr-text: var(--letterspacing-txt-p);
    --col-pr-txt-strong: var(--col-accent);
    --siz-pr-txt-strong: var(--siz-txt-p);
    --col-pr-txt-italic: var(--col-accent);
    --siz-pr-txt-italic: var(--siz-txt-p);
    --col-pr-txt-strikethrough: var(--col-muted);
    --col-pr-txt-highlight: var(--col-muted-plus);
    --siz-pr-txt-highlight: var(--siz-txt-p);
    --col-pr-bckg-highlight: var(--col-base);
    --col-pr-txt-quote: var(--col-accent-plus);
    --siz-pr-txt-quote: var(--siz-txt-p);
    --col-pr-bckg-quote: var(--col-base-background);
    --col-pr-bckg-quote-callout: var(--col-safety);
    --col-pr-bckg-quote-warning: var(--col-danger);
    --col-pr-txt-codeblock: var(--col-accent);
    --siz-pr-txt-codeblock: var(--siz-txt-p);
    --col-pr-bckg-codeblock: var(--col-muted);
    --col-pr-txt-hyperlink: var(--col-important);
    --col-pr-txt-hyperlink-highlight-hover: var(--col-muted-plus);
    --col-pr-txt-hyperlink-unresolved: var(--col-important);
    --col-pr-txt-hyperlink-strikethrough: var(--col-important-muted);
    --col-pr-txt-hyperlink-hover: var(--col-important-plus);
    --col-pr-hyperlink-broken: red;
    --col-pr-txt-p: var(--col-base);
    --siz-pr-txt-p: var(--siz-txt-p);
    --col-pr-bckg-checkbox-empty: var(--col-muted);
    --col-pr-bckg-checkbox-full: var(--col-accent-plus);
    --col-pr-txt-checkbox-full: var(--col-muted);
    --col-pr-hr: var(--col-base);
    --col-pr-txt-tableh: var(--col-accent-plus);
    --col-pr-txt-table: var(--col-base);
    --siz-pr-txt-table: var(--siz-txt-p);
    --col-pr-bckg-tableh: var(--col-muted);
    --col-pr-bckg-table: var(--col-base-background);
    --col-pr-txt-ul-bullet: var(--col-accent-plus);
    --col-pr-txt-ol-bullet: var(--col-accent-plus);
    --col-pr-txt-tag: var(--col-muted);
    --col-pr-bckg-tag: var(--col-important);

    --heading-spacing: calc(var(--p-spacing) * 2);
}

.bright-table-text {
    --col-pr-txt-table: var(--col-accent-plus);
}

/* ----- OBSIDIAN PANELS ----- */
/* Panel Bodies */
.nav-files-container, 
.search-result-container,
.item-list,
.oz-folders-tree-wrapper,
.file-tree-header-fixed,
.view-content
{
    background-color: var(--col-bckg-mainpanels);
}   

/* File Tree Header */
.file-tree-header-fixed {
    background-color: var(--col-bckg-filetreeheader);
}

/* Left and Top bars */
.workspace-ribbon, .workspace-ribbon.mod-left, .workspace-ribbon .sidebar-toggle-button,
.workspace-tab-header, 
.workspace-tab-header-container,
.titlebar-button  {
    background-color:   var(--col-txt-titlebars);
}   

/* Icons */
.workspace-ribbon.mod-left .clickable-icon, .workspace-ribbon .sidebar-toggle-button {
    color: var(--col-icons);
}

/* File Tree Alternative Path Icon */
svg.oz-folder-toggle path,
svg.oz-folder-toggle path:hover,
.oz-folder-line:hover,
.oz-nav-file-title:hover, 
.oz-nav-file-title-content:hover {
    fill: var(--col-icons);
    color: var(--col-icons);
    background-color: var(--col-bckg-selectedtitles);
}

/* Selected titles and folder icons */
.oz-folder-name.is-folder-active, 
.oz-folder-name.is-folder-active, 
.nav-file-title.is-active, 
.oz-folder-block:hover, 
.oz-nav-file-title-content:hover, 
.horizontal-tab-nav-item.is-active, .horizontal-tab-nav-item.is-active:hover, .vertical-tab-nav-item.is-active, .vertical-tab-nav-item.is-active:hover,
div.oz-nav-file.is-active, div.oz-nav-file.is-active div.oz-nav-file-title, div.oz-nav-file.is-active div.oz-nav-file-title-content,
.workspace-ribbon.mod-left .clickable-icon:hover, .titlebar-button:hover  {
    color: var(--col-txt-selectedtitles);
    background-color: var(--col-bckg-selectedtitles);
}

/* File Tree Alternative and normal (inactive) Folder / file name */
.oz-folder-name, .oz-nav-file-title, .nav-file-title-content, 
.horizontal-tab-nav-item, .vertical-tab-nav-item,
.oz-nav-file-title .oz-nav-file-title-content {
    color: var(--col-txt-titles); 
}

/* Selected folder / file names */
.nav-file-title.is-active, .nav-file-title.is-active > .nav-file-title-content {
    color: var(--col-txt-selectedtitles);
    background-color: var(--col-bckg-selectedtitles);
    font-weight: bold;
}

/* Checkboxes */
.checkbox-container {
    background-color: var(--col-muted);
}

.checkbox-container.is-enabled {
    background-color: var(--col-menucheckbox);
}

/* Dropdowns (settings) */
.dropdown, button:not(.clickable-icon), .dropdown option {
    background-color: var(--col-bckg-menudropdowns);
    color: var(--col-txt-menudropdowns);
}

.dropdown:hover, button:not(.clickable-icon):hover {
    background-color: var(--col-bckg-menudropdownhover);
    color: var(--col-txt-menudropdownhover);
}

/* -------- WORKSPACE -------- */
/* -------- EDIT MODE -------- */
/* Content */
.mod-cm6 .cm-content {
    line-height: var(--line-height-ed-text);
}

/* Body */
.mod-cm6 .cm-editor .cm-scroller {
    background-color: var(--col-ed-background);
    font-family: var(--fnt-ed-text);
    letter-spacing: var(--letterspacing-ed-text);
    caret-color: var(--col-ed-caret);   
}

.mod-cm6 .cm-editor .cm-scroller::after {
    content:"/a";
    white-space: pre;
}

/* Headers */
.cm-editor .inline-title {
    color: var(--col-ed-txt-title);
    font-size: var(--siz-ed-txt-title);
    font-family: var(--fnt-ed-title);
    letter-spacing: var(--letterspacing-ed-headers);
    padding-bottom:5px;
}

.mod-cm6 .cm-editor .HyperMD-header-1 {
    color: var(--col-ed-txt-h1);
    font-size: var(--siz-ed-txt-h1);
    font-family: var(--fnt-ed-headers);
    letter-spacing: var(--letterspacing-ed-headers);
    line-height: var(--line-height-ed-headers);
    border-bottom: 0.125em dashed var(--col-ed-hr);
    padding-bottom: 5px;
    margin: 5px 0px 1rem !important;
}
.mod-cm6 .cm-editor .HyperMD-header-2 {
    color: var(--col-ed-txt-h2);
    font-size: var(--siz-ed-txt-h2);
    font-family: var(--fnt-ed-headers);
    letter-spacing: var(--letterspacing-ed-headers);
    line-height: var(--line-height-ed-headers);
    padding-bottom: 5px;
    margin: 5px 0px 0px !important;
}

.mod-cm6 .cm-editor .HyperMD-header-3 {
    color: var(--col-ed-txt-h3);
    font-size: var(--siz-ed-txt-h3);
    font-family: var(--fnt-ed-headers);
    letter-spacing: var(--letterspacing-ed-headers);
    line-height: var(--line-height-ed-headers);
    padding-bottom:5px;
    margin: 5px 0px 0px !important;
}
.mod-cm6 .cm-editor .HyperMD-header-4 {
    color: var(--col-ed-txt-h4);
    font-size: var(--siz-ed-txt-h4);
    font-family: var(--fnt-ed-headers);
    letter-spacing: var(--letterspacing-ed-headers);
    line-height: var(--line-height-ed-headers);
    padding-bottom:5px;
    margin: 5px 0px 0px !important;
}
.mod-cm6 .cm-editor .HyperMD-header-5 {
    color: var(--col-ed-txt-h5);
    font-size: var(--siz-ed-txt-h5);
    font-family: var(--fnt-ed-headers);
    letter-spacing: var(--letterspacing-ed-headers);
    line-height: var(--line-height-ed-headers);
    padding-bottom:5px;
    margin: 5px 0px 0px !important;
}
.mod-cm6 .cm-editor .HyperMD-header-6 {
    color: var(--col-ed-txt-h6);
    font-size: var(--siz-ed-txt-h6);
    font-family: var(--fnt-ed-headers);
    letter-spacing: var(--letterspacing-ed-headers);
    line-height: var(--line-height-ed-headers);
    padding-bottom:5px;
    margin: 5px 0px 0px !important;
}

/* Text Formatting*/
/* Bold */
.mod-cm6 .cm-editor .cm-strong {
    color: var(--col-ed-txt-strong);
    font-size: var(--siz-ed-txt-strong);
}

/* Italic */
.mod-cm6 .cm-editor .cm-em {
    color: var(--col-ed-txt-italic);
    font-size: var(--siz-ed-txt-italic);
}

/* Strikethrough */
.mod-cm6 .cm-editor .cm-strikethrough,
.mod-cm6 .cm-editor .cm-strikethrough >*,
.mod-cm6 .cm-editor .cm-strikethrough ~* {
    color: var(--col-ed-txt-strikethrough);
}

/* Highlight */
.cm-editor span.cm-highlight {
    color: var(--col-ed-txt-highlight);
    background-color: var(--col-ed-bckg-highlight);
    font-size: var(--siz-ed-txt-highlight);
}

/* Quote */
.cm-editor span.cm-quote {
    color: var(--col-ed-txt-quote);
    background-color: var(--col-ed-bckg-quote);
    font-size: var(--siz-ed-txt-quote);
}

/* Callout */
.markdown-source-view.mod-cm6 .callout {
    background-color: var(--col-ed-bckg-quote-callout);
}

/* Callout icon and text */
.markdown-source-view.mod-cm6  .callout-title-inner, .markdown-source-view.mod-cm6 .callout-icon .svg-icon {
        color: var(--col-ed-txt-quote);
}

/* Warning */
.markdown-source-view.mod-cm6 .callout[data-callout="warning"] {
    color: var(--col-ed-txt-quote);
    background-color: var(--col-ed-bckg-quote-warning);
}

/* Codeblock */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    color: var(--col-ed-txt-codeblock);
    background-color: var(--col-ed-bckg-codeblock);
    font-size: var(--siz-ed-txt-codeblock);
}

/* Hyperlink */
.markdown-source-view.mod-cm6 .cm-link:not(.cm-highlight),
 .markdown-source-view.mod-cm6:not(.cm-highlight) .cm-url:not(.cm-highlight),
 .cm-s-obsidian span.cm-hmd-internal-link:not(.cm-highlight),
 .markdown-rendered .external-link, .markdown-rendered .internal-link
{
    color: var(--col-ed-hyperlink);
    text-decoration: underline;
}

/* Hyperlink Hover */
.markdown-rendered .external-link:hover, .markdown-rendered .internal-link:hover {
    color: var(--col-pr-txt-hyperlink-hover);
}

/* Unresolved Hyperlink */ 
.markdown-rendered .external-link.is-unresolved, .markdown-rendered .internal-link.is-unresolved {
    color: var(--col-pr-hyperlink-broken) !important;
}

/* Hovered Hyperlink Hover*/
.markdown-preview-view mark > .external-link:hover, .internal-link:hover {
    color: var(--col-ed-txt-highlight);
}

/* Unresolved Hyperlink Hover */
.markdown-rendered .external-link.is-unresolved:hover, .markdown-rendered .internal-link.is-unresolved:hover {
    color: var(--col-ed-hyperlink-hover);
}


/* Highlighted Hyperlink */
.markdown-preview-view mark > .external-link, .internal-link {
    color: var(--col-ed-txt-highlight);
    background-color: var(--col-ed-hyperlink);
}

/* Highlighted Hyperlink Hover */
.markdown-preview-view mark > .external-link:hover, .internal-link:hover {
    color: var(--col-ed-hyperlink-highlight-hover);
    background-color: var(--col-ed-hyperlink-hover);
}

/* Hyperlink in a callout */
.markdown-rendered .callout > .external-link, .internal-link {
    color: var(--col-ed-text-hyperlink);
    background-color: inherit;
}

/* Hovered Hyperlink in a callout */
.markdown-rendered .callout > .external-link:hover, .internal-link:hover {
    color: var(--col-pr-txt-hyperlink-hover);
    background-color: inherit;
}

/* Hyperlink in a warning */
.markdown-rendered .callout[data-callout="warning"] > .external-link, .internal-link {
    background-color: inherit;
}

/* Hovered Hyperlink in a warning */
.markdown-rendered .callout[data-callout="warning"] > .external-link:hover, .internal-link:hover {
    color: var(--col-pr-txt-hyperlink-hover) !important;
    background-color: inherit;
}

/* Hyperlink Strikethrough */
.markdown-preview-view del > .external-link, .markdown-preview-view del > .internal-link {
    color: var(--col-pr-txt-hyperlink-strikethrough);
}


/* Checkbox unchecked */
.cm-editor input.task-list-item-checkbox {
    color: var(--col-ed-bckg-checkbox-empty);
    background-color: var(--col-ed-bckg-checkbox-empty);
    border-color: var(--col-ed-bckg-checkbox-empty);
}

/* Checkbox checked */
.cm-editor input[type=checkbox]:checked {
    color: var(--col-ed-bckg-checkbox-full);
    background-color: var(--col-ed-bckg-checkbox-full);
    border-color:  var(--col-accent-plus);
}

/* Checkbox checked content */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"], .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"] > *, .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] > *,
 .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] ~ * {
    color: var(--col-ed-txt-checkbox-full) !important;
}

/* Normal text */
.cm-editor .cm-line, ::selection {
    color: var(--col-ed-txt-p);
    font-size: var(--siz-ed-txt-p);
}

/* Other */
/* Horizontal rule */
hr {
    border-color: var(--col-ed-hr);
}

/* Tables */
.markdown-rendered table {
    color: var(--col-ed-txt-table);
    font-size: var(--siz-ed-txt-table);
    background-color: var(--col-ed-bckg-table);
}

/* Table header */ 
.markdown-source-view.mod-cm6 thead {
    color: var(--col-ed-txt-tableh);
    background-color: var(--col-ed-bckg-tableh);
}
/* Header content */
.markdown-source-view.mod-cm6 th {
    color: var(--col-ed-txt-tableh);
    background-color: var(--col-ed-bckg-tableh);
}

/* lists */
.markdown-source-view.mod-cm6 .HyperMD-list-line .list-bullet:after {
    height: 1.65em;
    width: 1em;
/*  border-radius: 50%;*/
    background-color: transparent;
    content:'>';
    color: var(--col-ed-txt-ul-bullet);
    font-weight: bold;
} 

/* UL text */
.markdown-rendered ul.has-list-bullet {
    color: var(--col-ed-txt-p);
}

.markdown-source-view.mod-cm6 .cm-formatting-list-ul, .markdown-source-view.mod-cm6 .cm-formatting-list-ol {
    height: 1.65em;
    width: 1em;
/*  border-radius: 50%;*/
    background-color: transparent;
    content:'>';
    color: var(--col-ed-txt-ol-bullet);
    font-weight: bold;
    padding-left: 20px;
}

/* Tags */
.cm-hashtag.cm-hashtag-begin {
    background-color: var(--col-ed-txt-tagbeg);
    color: var(--col-ed-bckg-tagbeg);
}

.cm-hashtag.cm-hashtag-end {
    background-color: var(--col-ed-txt-tagend);
    color: var(--col-ed-bckg-tagend);
}


/* -------- PDFs -------- */
@media print { 
    html body .print .markdown-preview-view { 
        -webkit-print-color-adjust: exact; 
        background-color: var(--col-pr-background);
        color: var(--col-pr-txt-p);
        width: 100%;
        height: 100%;
    }
    div {
        background-image: url("imgUrlHere") !important;
        background-repeat: repeat-y !important;
  }

}

/* ---------- WORKSPACE --------- */
/* -------- PREVIEW MODE -------- */

/* Body */
.markdown-preview-view {
    background-color: var(--col-pr-background);
    font-family: var(--fnt-pr-text);
    letter-spacing: var(--letterspacing-pr-text);
    font-size: var(--siz-pr-txt-p);
}

/* Headers */
.markdown-preview-view .inline-title {
    color: var(--col-pr-txt-title);
    font-size: var(--siz-pr-txt-title);
    font-family: var(--fnt-pr-title);
    letter-spacing: var(--letterspacing-pr-headers);
    padding-bottom: 2.5px;
}

.markdown-preview-view h1 {
    color: var(--col-pr-txt-h1);
    font-size: var(--siz-pr-txt-h1);
    font-family: var(--fnt-pr-headers);
    letter-spacing: var(--letterspacing-pr-headers);
    padding-bottom: 1rem;
    border-bottom: 0.125em dashed var(--col-ed-hr);
    margin-bottom: 1rem;
}

.markdown-preview-view h2 {
    color: var(--col-pr-txt-h2);
    font-size: var(--siz-pr-txt-h2);
    font-family: var(--fnt-pr-headers);
    letter-spacing: var(--letterspacing-pr-headers);
    line-height: var(--line-height-pr-headers);
}

.markdown-preview-view h3 {
    color: var(--col-pr-txt-h3);
    font-size: var(--siz-pr-txt-h3);
    font-family: var(--fnt-pr-headers);
    letter-spacing: var(--letterspacing-pr-headers);
    line-height: var(--line-height-pr-headers);
}

.markdown-preview-view h4 {
    color: var(--col-pr-txt-h4);
    font-size: var(--siz-pr-txt-h4);
    font-family: var(--fnt-pr-headers);
    letter-spacing: var(--letterspacing-pr-headers);
    line-height: var(--line-height-pr-headers);
}

.markdown-preview-view h5 {
    color: var(--col-pr-txt-h5);
    font-size: var(--siz-pr-txt-h5);
    font-family: var(--fnt-pr-headers);
    letter-spacing: var(--letterspacing-pr-headers);
    line-height: var(--line-height-pr-headers);
}

.markdown-preview-view h6 {
    color: var(--col-pr-txt-h6);
    font-size: var(--siz-pr-txt-h6);
    font-family: var(--fnt-pr-headers);
    letter-spacing: var(--letterspacing-pr-headers);
    line-height: var(--line-height-pr-headers);
}

/* Text Formatting */
/* Bold */
strong {
    color: var(--col-pr-txt-strong);
    font-size: var(--siz-pr-txt-strong);
}

/* Italic */
em {
    color: var(--col-pr-txt-italic);
}

/* Strikethrough */ 
.markdown-preview-view del,
.markdown-preview-view del >*,
.markdown-preview-view del ~* {
    color: var(--col-pr-txt-strikethrough);
}

/* Highlight */
.markdown-preview-view mark {
    color: var(--col-ed-txt-highlight);
    background-color: var(--col-ed-bckg-highlight);
    font-size: var(--siz-pr-txt-highlight);
}

/* Quote */
.markdown-rendered blockquote > p{
    color: var(--col-pr-txt-quote);
    background-color: var(--col-pr-bckg-quote);
    font-size: var(--siz-pr-txt-quote);
}

/* Callout */
.markdown-rendered .callout{
    background-color: var(--col-pr-bckg-quote-callout);
}

/* Callout icon and text */
.markdown-rendered  .callout-title-inner, .markdown-rendered .callout-icon .svg-icon {
    color: var(--col-pr-txt-quote);
}

/* Warning */
.markdown-rendered .callout[data-callout="warning"] {
    color: var(--col-pr-txt-quote);
    background-color: var(--col-pr-bckg-quote-warning);
}

/* Codeblock */
.markdown-rendered pre {
    color: var(--col-pr-txt-codeblock);
    background-color: var(--col-pr-bckg-codeblock);
    font-size: var(--siz-pr-txt-codeblock);
}

/* Hyperlink Hover */
.cm-editor span.cm-underline:hover {
    color: var(--col-pr-txt-hyperlink-hover);
}

/* Highlighted Hyperlink */
.cm-editor span.cm-highlight > .cm-underline {
    color: var(--col-pr-txt-highlight);
    background-color: var(--col-pr-txt-hyperlink);
}

/* Highlighted Hyperlink Hover */
.cm-editor span.cm-highlight > .cm-underline:hover {
    color: var(--col-pr-txt-hyperlink-highlight-hover) !important;
    background-color: var(--col-pr-txt-hyperlink-hover);
}

/*Checkbox unchecked */
.markdown-preview-view input.task-list-item-checkbox {
    background-color: var(--col-pr-bckg-checkbox-empty);
    border-color: var(--col-pr-bckg-checkbox-empty);
}

/* Checkbox checked */
.markdown-preview-view input[type=checkbox]:checked {
    background-color: var(--col-pr-bckg-checkbox-full);
    border-color: var(--col-pr-bckg-checkbox-full);
}

/* Checkbox Checked Content */
.markdown-preview-view ul>li.task-list-item.is-checked,
.markdown-preview-view ul>li.task-list-item.is-checked > *,
.task-list-item-checkbox:checked ~ * {
    color: var(--col-pr-txt-checkbox-full);
}

/* Normal text */
.markdown-preview-view p {
    color: var(--col-pr-txt-p);
/*  font-size: var(--siz-pr-txt-p);*/
}

/* Other */
/* Horizontal rule */
.markdown-preview-view hr {
    border-color: var(--col-pr-hr);
}

/* Tables */
.markdown-preview-view table {
    color: var(--col-pr-txt-table);
/*    border-color: var(--col-pr-txt-table);*/
    font-size: var(--siz-pr-txt-table);
    background-color: var(--col-pr-bckg-table);
}

/* Table header */ 
.markdown-rendered thead {
    color: var(--col-pr-txt-tableh);
    background-color: var(--col-pr-bckg-tableh);
}

/* Header Content */
.markdown-rendered th {
    color: var(--col-pr-txt-tableh);
    background-color: var(--col-pr-bckg-tableh);
}

/* Lists */
ol > li::marker, .cm-s-obsidian .cm-formatting-list {
    color: var(--col-pr-txt-ol-bullet);
}

.markdown-preview-view  .list-bullet:after {
    list-style-type: none;
    height: 1.65em;
    width: 1em;
    border-radius: 50%;
    background-color: transparent;
    content:'>';
    color: var(--col-pr-txt-ul-bullet);
    font-weight: bold;
} 

.markdown-rendered ol {
    padding-left: 1em;
/*  line-height: 15px;*/
}

.markdown-rendered ul {
    padding-left: 1em;
/*  line-height: 15px;*/
}   

.markdown-preview-view ol>li {
    color: var(--col-pr-txt-p);
}

/* Tags */
a.tag, a.tag:hover {
    background-color: var(--col-pr-bckg-tag);
    color: var(--col-pr-txt-tag);
    padding-bottom: 0px;
}

div.setting-item-description > div > small {
    font-size: var(--font-ui-smaller);
}

div.setting-item-description > div > small {
    font-size: var(--font-ui-smaller);
}

div.setting-item-description > div > small > strong {
    font-size: var(--font-ui-smaller);
}